@font-face{
    font-family: Montserrat-Bold;
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face{
    font-family: Montserrat-Regular;
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
}
body{
    background-color: #18181E;
    font-family: Montserrat-Regular;
}
.header{
    text-align: center;
    padding: 5px;
}
.header-image{
    width: 300px;
    height: auto;
}
#post-title{
    color: #DEC79B;
    font-family: Montserrat-Bold;
    font-size: large;
    margin-top: 0px;
}
.instagram-post{
    width: 33%;
    height: auto;

}