/* 
Extra-bold 800 - header pt.1
Bold 700 - header pt.2, section titles
Semi-Bold 600 - subsection titles
Medium 500 - paragraph text
Regular 400
*/

@font-face{
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}
@font-face{
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: 700;
}
@font-face{
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-weight: 600;
}
@font-face{
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat/Montserrat-Medium.ttf");
    font-weight: 500;
}
@font-face{
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: 400;
}

/* ======= HEADER ======= */
.body{
    margin: 0px;
    margin-top: 85.2px;
    color: black;
    font-family: Montserrat;
    background-color:  #BDBDBD;
}
.anchor{
    display: block;
    height: 85.2px; /*same height as header*/
    margin-top: -85.2px; /*same height as header*/
    visibility: hidden;
  }
.column-wrapper{
    overflow: hidden;
}
.left-column{
    float: left;
    width: 75%;
}
.right-column{
    float: right;
    width: 25%;
}
#heading{
    color: #DEC79B;
    background-color: #18181E;

    display: table;
    text-align: center;
    position: fixed;

    left: 0px;
    height: 75px;
    width: 100%;
    top: 0px;
}
#profile-pic{
    width: 50px;
    height: 50px;
    border-color: #DEC79B;
    border-width: 1px;
    border-radius: 50%;
    border-style: solid;
    text-align: center;
    margin-left: 15px;
}
#left{
    display: table-cell;
    vertical-align: middle;
}
#center{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
#center2{
    display: table-cell;
    font-size: medium;
    vertical-align: middle;
}
#right{    
    display: table-cell;
    vertical-align: middle;
    width: auto;
}
#gold-effect{
    background-color: #DEC79B;
    border-radius: 50%;
    padding: 3px;
    max-width: 10%;
    max-height: 10%;
}
#heading #page-style{
    text-align: center;
    list-style: none;
    padding-inline-start: 0px;
    
}
#page-style li{
    list-style: none;
    display: inline;
    padding: 20px;
    
}
.basic-info{
    list-style: none;
    width: fit-content;
    float: right;
    padding-left: 0px;
}
.basic-info li{
    list-style-type: none;
    display: inline;
    margin: 6px;
    color: white;

}
.link-effect{
    color: #DEC79B;
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
}
#name{
    margin-top: 3px;
    margin-bottom: 6px;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 500;

}

/* ======= SECTIONS ======= */
.sections-left{
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;

}
.sections-right{
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;

}
.sections-bottom{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}
    .section-title{
        text-align: left;

        text-transform: uppercase;
        font-weight: 600;
        font-size: larger;

        background-color: #18181E;
        color: #DEC79B;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 15px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;

    }
    .section-text{
        margin: 0px;
        padding: 15px;
        background-color: #e5e7f0;
        font-weight: 400;
        font-size: 16px;
    }

/* ======= SUBSECTIONS ======= */
.subsections{
    background-color: #e5e7f0;

}
    .subsection-title{
        /* Prevents user from copying subsection title */
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        width: fit-content;

        background-color: #e5e7f0;
        color: #18181E;
    }
        .subsection-button{
            display: inline-block;
            vertical-align: middle;

            color: #18181E;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .subsection-title-description{
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
            font-size: 16px;
            margin: 0px;
        }
        .badge{
            display: inline-block;
            vertical-align: middle;

            background-color: #18181E;
            color: #DEC79B;
            font-size: 14px;

            padding-left: 5px;
            padding-right: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-left: 5px;

            border-style: solid;
            border-radius: 5px;
            border-color: transparent;
        }        
    .subsection-text{
        margin: 0px;
        padding-bottom: 15px;
        padding-left: 51.49px;
        padding-right: 15px;

        font-weight: 400;
        display: none;
        border-color: rgb(37, 37, 99);
        background-color: #e5e7f0;        
    }

.resume-container{
    text-align: center;
    padding: 10px;
    background-color: #18181E;
    border-style: solid;
    border-radius: 5px;
    border-color: transparent;
}
.resume-button{
    font-size: 18px;
    color: #DEC79B;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}
/* ======= FOOTER ======= */
.body .footer-box{
    background: #18181E;
    text-align: center;
    width: 100%;

    position: relative;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.copyright {
    color: white;
    font-size: 14px;
}
#use-case-link{
    text-decoration-line: none;
    color: #DEC79B;
}
